.App {
  
  min-height: 100vh;
  padding-bottom: 100px;
  background-image: url('../public/images/dog_paws_bg.jpg');
  background-repeat: repeat; /* Set the background image to repeat */
  background-size: 1850px; /* Adjust the size of the background image */

}
  
  .pawBackground {
    
  }
  

body {
 overflow-x: hidden;
}

.text-to-right {
 direction: rtl;
 text-align: right;
}

.navbar-brand.brand {
 color: white;
 padding: 0;
}

.navbar-nav.nav-link.link {
 color: white!important;
}

.navItem {
 padding: 0;
}

.nav-link {
 padding: 0;
}

.main-container {
 margin-top: 20px;
}

img.pawLogo {
 height: 50px;
 padding-right: 5px;
}
