div.reviewsText {
    width: 100%;
}

div.poster {
    margin: 10px;
}

p.review {
    white-space: pre-line;
}

.bigPicture {
    float: right;
}

.card-body {
    padding: 20px; /* Add padding around the content */
  }
  
  .card-text {
    margin-bottom: 14px; /* Add some spacing between each text */
    font-size: 16px; /* Adjust the font size */
    font-weight: bold;
    line-height: 1.4; /* Adjust line height for better readability */
  }
  
  .link-button {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: slategray;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .link-button:hover {
    background-color: #0056b3; /* Darker color on hover */
  }
  