.dogRow {
    margin-top: 15px;
}

.card {
    margin-top: 15px;
}

.dogsListCard {
    width: 18rem;
}

div.poster {
    margin: 10px;
}

.smallPoster {
    height: 18rem;
    width: 18rem;
    user-select: none;
}

.cardTitle {
    font-family: 'Times New Roman', Times, serif;

}

.bone {
    position: absolute;
    top: 0px; /* Adjust the top position as needed */
    right: -230px; /* Adjust the right position as needed */
    width: 32.5em;
    height: 4em;
    filter: drop-shadow(2px 4px 6px black);
    z-index: 1; 
  }

.boneFill {
    fill: yellow;
}

.boneEmpty {
    fill: white;
}